.gallery2-title-page {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.gallery-title {
    text-align: center;
    padding: 0 100px 100px;
}

.collage-image {
    width: 65%;
    display: block;
    margin: 0px auto 100px;
}